<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginService"/>
                <binding name="BasicHttpBinding_IMusicService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/LoginService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService" contract="LoginService.ILoginService" name="BasicHttpBinding_ILoginService"/>
            <endpoint address="http://localhost:8080/MusicService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMusicService" contract="MusicService.IMusicService" name="BasicHttpBinding_IMusicService"/>
        </client>
    </system.serviceModel>
</configuration>
